*{
    margin:0;
    padding:0;
    text-align: center;
}

h1{
    background-color: navy;
    color:azure;
    height: 15vmin;
    line-height:15vmin;
}

p{
    text-align: center;
    font-size:5vmin;
    
}

#msg{
    display:inline;
    color:azure;
    background-color: navy;
    font-size:6vmin
    
}

.msg-cont{
    height:40vmin;
    display: flex;
    justify-content:center;
    align-items: center;
}

.score-board{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:10vmin;
    font-size:10vmin;
}

.cont{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:15vmin;
    height:40vmin;
    
}

.rps:hover{
    border-radius:10vmin;
    border:5px solid black ;
}

.rps{
    height:20vmin;
    width:20vmin;
    
}

img{
    height:20vmin;
    width:20vmin;
    object-fit:cover;
    border-radius:50%;
    
}
